@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');

.row{
    padding: 20px;
    background-color: #121212;
    margin: 0%;
}

h1, img{
    display: inline;
}

/*estilo título "experiencia laboral"*/
#experiencia{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    background: #E4E41C;
    background: linear-gradient(to right, #E4E41C 0%, #8F3DEC 15%, #28ECB1 30%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/*estilo puesto de trabajo*/
#trabajo{
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    font-weight: bold;
    background: #E4E41C;
    background: linear-gradient(to right,#8F3DEC 0%, #28ECB1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*estilo (años)*/
#anios{
    font-family: 'Signika Negative', sans-serif;
    color: #cecece;
    font-size: 18px;
}

/*estilo información del trabajo*/
p{
    font-family: 'Signika Negative', sans-serif;
    color: #cecece; 
}

/*estilo logo lugar de trabajo*/
#logo-trjo{
    position: relative;
    display: block;
    object-fit: cover;
    width: 180px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}