<div class="row">
    <h1 id="experiencia">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-9">
        <ul>
            <li><h3 id="trabajo">Trabajo 1</h3> - <h3 id="anios">(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus sit laborum, expedita temporibus pariatur non enim ea. Vitae ratione et voluptatibus. Facere velit laborum saepe quos deleniti quasi ducimus!</p>
        </ul>
        <ul>
            <li><h3 id="trabajo">Trabajo 2</h3> - <h3 id="anios">(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus sit laborum, expedita temporibus pariatur non enim ea. Vitae ratione et voluptatibus. Facere velit laborum saepe quos deleniti quasi ducimus!</p>
        </ul>
        <ul>
            <li><h3 id="trabajo">Trabajo 3</h3> - <h3 id="anios">(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus sit laborum, expedita temporibus pariatur non enim ea. Vitae ratione et voluptatibus. Facere velit laborum saepe quos deleniti quasi ducimus!</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>
