<div class="row">
    <h1 id="experiencia">Experiencia laboral</h1>
    <div class="d-none d-sm-none d-md-block d-lg-block col-md-3 col-lg-2">
        <img src="../../../assets/proyecto.jpg" class="img-fluid" id="logo-trjo">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <h1 id="trabajo">Trabajo 1</h1>
        <h3 id="anios">(años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic error, doloremque magnam ad ab, consectetur voluptatum, sed similique porro eligendi tempora minima quaerat! Accusamus enim, voluptatum vitae corporis aut ad?</p>
    </div>
    <div class="d-none d-sm-none d-md-block d-lg-block col-md-3 col-lg-2">
        <img src="../../../assets/proyecto.jpg" class="img-fluid" id="logo-trjo">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <h1 id="trabajo">Trabajo 2</h1>
        <h3 id="anios">(años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic error, doloremque magnam ad ab, consectetur voluptatum, sed similique porro eligendi tempora minima quaerat! Accusamus enim, voluptatum vitae corporis aut ad?</p>
    </div>
    <div class="d-none d-sm-none d-md-block d-lg-block col-md-3 col-lg-2">
        <img src="../../../assets/proyecto.jpg" class="img-fluid" id="logo-trjo">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <h1 id="trabajo">Trabajo 3</h1>
        <h3 id="anios">(años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic error, doloremque magnam ad ab, consectetur voluptatum, sed similique porro eligendi tempora minima quaerat! Accusamus enim, voluptatum vitae corporis aut ad?</p>
    </div>
</div>
