<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="foto-perfil">
        <p id="nombre">Milagros Cordoba</p>
        <p id="titulo">Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" id="acerca-de">
        <span>
            <h1>Acerca de...</h1>
            <p id="info-usuario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsam tempora quam quae amet unde asperiores, dolores ullam sunt incidunt aliquam sed eveniet maiores commodi, laudantium eius labore doloremque corporis.</p>
        </span>
    </div>
</div>
