@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');

.row{
    margin: 0%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilo logo ArgProgr*/
#logoCurso{
    width: 150px;
}

/*estilo logo redes sociales*/
#logo-redes{
    width: 45px;
    margin: 4px;
}

button{
    font-family: 'Signika Negative', sans-serif; 
    margin: 20px;
}

/*--- Teléfono ---*/
@media (max-width: 575px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button{
        width: 65px;
        height: 28px;
        font-size: 11px;
        margin: 6px;
    }

    #logo-redes{
        width: 23px;
        margin: 2px;
    }

    #logoCurso{
        width: 100px;
    }
}

/*--- Tablet ---*/
@media (min-width: 768px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button{
        width: 90px;
        font-size: 16px;
        margin: 20px;
    }

    #logo-redes{
        width: 38px;
        margin: 3px;
    }
}