<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgProg.png" id="logoCurso">
        </div>
        <div class="redes">
                <a href="https://github.com/ajjaaajjjj" target="_blank"><img src="../../../assets/github.png" id="logo-redes"></a>
                <a href="https://m.facebook.com/profile.php?id=100024593506652" target="_blank"><img src="../../../assets/facebook.png" id="logo-redes"></a>
                <a href="https://www.instagram.com/milycba_/" target="_blank"><img src="../../../assets/instagram.png" id="logo-redes"></a>
                <a href="https://twitter.com/ajjaaajjjj" target="_blank"><img src="../../../assets/twitter.png" id="logo-redes"></a>
                <a href="https://www.linkedin.com/in/mily-cordoba-5ab12a249/" target="_blank"><img src="../../../assets/linkedin.png" id="logo-redes"></a>
                <button type="button" class="btn btn-dark" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>